<form class="edit-form" method="post" action="/items/<%= @item.id %>">
  <input type="hidden" name="_method" value="PUT">
  <label for="title">title</label>
  <input type="text" name="title" value="<%= @item.title %>">
  <label for="description">description</label>
  <input type="text" name="description" value="<%= @item.description %>">
  <label for="date">due date</label>
  <input type="date" name="due" value="<%= @item.due %>">
  <input type="submit" value="edit" class="edit">
</form>

