<form class="edit-form" method="post" action="/items/<%= @item.id %>">
  <input type="hidden" name="_method" value="PUT">
  <label for="title">title</label>
  <input type="text" name="title" placeholder="<%= @item.title %>">
  <label for="description">description</label>
  <input type="text" name="description" placeholder="<%= @item.description %>">
  <label for="date">due date</label>
  <input type="date" name="due" placeholder="<%= @item.due %>">
  <label for="completed">complete?</label>
  <input type="radio" name="complete" value="true"> True
  <input type="radio" name="complete" value="false"> False<br>

  <input type="submit" value="edit"><br>
</form>
